<h1>Welcome to Coin Combos</h1>
<form action="/coinchanger">
  <div class="form-group">

     <label for="coins">Enter an amount to find out your change in coins</label>
     <input id="coins" name="coins" class="form-control" type="number">

  </div>
  <button type="submit" class="btn-success">what are my coins</button>
</form>
